body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(205, 216, 226);
}

/* Navigation bar styles */

nav span a{
    text-decoration: none;
    color: #3A3A3A;
    margin-right: 7px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top-heading{
    margin-left: 15px;
}
.top-part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main section div img.camera{
    width: 440px;
height: 414px;
background-color: darkgray;
border-radius: 600px;
transition: 0.7s;
}
.btn{
    text-decoration: none;
    background-color: rgb(233, 195, 27);
    padding: 5px 20px;
    border-radius: 20px;
}
/* Logo section  */
.logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    margin-top: 50px;
    margin-bottom: 50px;
}
.mid-heading{
    text-align: center;
    margin-top: 50px;
}
/* Products list */
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
justify-content: space-around;
}
.product{
    padding-left: 30px;
    background-color:#FFFFFF;
}
.fa-star-half-alt,.fa-star{
    color: #FB8200
}
.discription{
    width: 300px;
}
.sm-btn{
    text-align: right;
    font-size: larger;
    text-decoration: none;
}
/* Newsletter Section */
.newsletter{
padding-top: 50px;
padding-bottom: 50px;
    background-color: burlywood;
    text-align: center;
}
#search-btn{
    width: 25em;
    height: 4em;
    font-size: large;
}
#submit-btn{
    width: 300px;
    height: 4.4em;
    font-size: large;
    background-color: dimgray;
    color: yellow;
}

/* Footer Section */
.links{
    display: flex;
}
.link{
    margin: 30px;
    padding: 20px;
    background-color: lightsteelblue;
    border-radius: 40px;
}
footer{
    display: grid;
    justify-content: center;
    background-color: slategray;
    text-align: center;
}
footer>div>a{
    margin-right: 25px;
    margin-bottom: 200px;
}
/*---------------
   Media quries 
----------------*/

/* Mobile Device  */

@media only screen and (max-width:688px) {
    .products{
        grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    }
    .top-part{
display: grid;
    }
    .logo{
        display: none;
}

/* Tablet device  */

@media only screen and (min-width:689px) and (max-width:992px) {
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}
.camera{

}
.camera:hover{
    background-color: white;
}
