body{
    font-family: 'Poppins', sans-serif;
}
nav span a{
    text-decoration: none;
    color: #3A3A3A;
    margin-right: 15px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top-heading{
    margin-left: 20px;
}
.top-part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main section div img{
    width: 440px;
height: 414px;
background-color: darkgray;
border-radius: 600px;
}
.btn{
    text-decoration: none;
    background-color: rgb(233, 195, 27);
    padding: 5px 20px;
    border-radius: 20px;
}
.logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    margin-top: 50px;
}
.mid-heading{
    text-align: center;
    margin-top: 50px;
}
